html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

background: #141E30; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0f2a5a , rgba(60, 72, 85, 0.58)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #313c50 , #3c526a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }

.searchbar {
    position: absolute;
    top: 40%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.header {
    background-color: #8E1710;
}

.cocaine{
    font-size: 78px;
    color: azure
}


/* EXPANDING SEARCH BAR STARTS HERE */

/* Main Styling */
input[type=text].searchBar 
{
    width: 120px;
    height: 40px;
    padding: 4px 8px;
    margin-top:10px;
    color: #bbdff5;
    font-size: 18px;
    border-radius: 10px;
    border: none;
 -webkit-transition: all ease-in-out .5s;
 -moz-transition: all ease-in-out .3s;
}

/* Individual Styling */

input[type=text]#red
{
   background: #313c50;
}


/* Main Styling On Focus for all */
input[type=text].searchBar:focus 
{    
    font-weight: 600;
    width: 265px; 
    outline: none;  
    background: #2cd0d6;
    border:0px solid #999;
    
    border-color: #8E1710;
    box-shadow: 0 0 10px rgba(142, 23, 16, 0.08);

}

/* Individual Styling on Focus */

input[type=text]#red:focus
{
  color:#313c50;
  background:#dafcf5;
}


/*Footer*/
#footer {
color: #fdfdfd;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: rgba(24, 27, 28, 0.88);
}

a {
    color: white;
}

a:active {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

.panel{
    padding: 20px;
    color: rgba(248, 248, 248, 0.24);
    position: relative;
    bottom: -50px;
    height: 780px;
    background-color: rgba(31, 36, 38, 0.88);
    box-shadow: 1px 1px 1px 1px;
    -webkit-box-shadow: -5px 4px 97px -13px rgba(0,0,0,0.51);
    -moz-box-shadow: -5px 4px 97px -13px rgba(0,0,0,0.51);
    box-shadow: -5px 4px 97px -13px rgba(0,0,0,0.51);
}

.panel-text{
    padding-left: 10px;
    font-size: 50px;
    font-weight: 400;
    color: #daf1ff
}

.putdown {
    position: relative;
    bottom: -20px;
}

.wrap {
    color: white;
    word-wrap: break-word;
}